/* Global Element Styles */
body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: url(../images/background.png);
}

p {
	padding-bottom: 2em;
	line-height: 2em;
	color: #777;
}

a, a:visited {
	color: #4aaaa5;
	transition: 0.35s;
}

a:hover, a:visited {
	color: #fd6e72;
	transition: 0.35s;
}

h1, h2, h3, h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;	
}

h2, h3 {
	color: #4aaaa5;
	border-bottom: 1px solid #ccc;
}

h1 { font-size: 2em; }
h2 { font-size: 1.7em; margin: 0 0 1em 0; padding: 1em 0; }
h3 { font-size: 1.17em; margin: 0 0 1em 0; padding: 1em 0; }
h4 { font-size: 1.12em; }

label { 
	display: block;
	padding: 20px 0 10px 0;
	color: #777;
}

input[type="text"], input[type="email"] {
	width: 96%;
	padding: 2%;
	border: 1px solid #ccc;
}

textarea {
	height: 150px;
	width: 96%;
	padding: 2%;
	margin-bottom: 15px;
	border: 1px solid #ccc;
}

input[type="submit"] {
	background: #4aaaa5;
	padding: 10px 25px;
	border: none;
	color: #fff;
}

input[type="submit"]:hover, input[type="button"]:focus {
	cursor: pointer;
	background: #fd6e72;
}


/* Section Specific Styles */
.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

header {
	padding: 2em 0 0 0;
	border-bottom: 1px solid #ccc;
	background: #fff;
}

	header .logo {
		float: left;
		padding: 0.75em 1.25em;
		bottom: 0;
		left: 0;
		margin: 0;
		color: #fff;
		background: #4aaaa5;
	}

	nav {
		float: right;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0 0 1.75em 0;
	}

		.main-nav li {
			float: left;
			margin: 1em 0 0 2em;
		}

			.main-nav a, .main-nav a:visited {
				text-decoration: none;
				color: #ccc;
			}

			.main-nav a:hover, .main-nav a:focus {
				color: #fd6e72;
			}

.content {
	padding: 2em 0;
	overflow: hidden;
}

section {
	float: left;
	width: 588px;
	margin: 0 40px 0 0;
	padding: 20px 30px 30px 30px;
	border: 1px solid #ddd;
	background: #fff;
}

	section .ppic {
		float: left;
		width: 40%;
		padding: 0 1em 1em 0;
	}

	.p-gallery li {
		position: relative;
		float: left;
		width: 47%;
		margin-bottom: 30px;
	}

	.p-gallery li:nth-of-type(odd) {
		margin-right: 6%;
	}

		.p-gallery h4 {
			position: absolute;
			bottom: 10px;
			width: 100%;
			padding: 20px 0;
			color: #fff;
			text-align: center;
			background: #4aaaa5;
			transition: 0.35s;
		}

		.p-gallery a:hover h4, .p-gallery a:focus h4 {
			background: #fd6e72;
			transition: 0.35s;
		}

		.p-gallery img {
			max-width: 100%;
		}

aside {
	float: left;
	width: 188px;
	padding: 20px 40px;
	border: 1px solid #ddd;
	background: #fff;
}

	.sm-nav li {
		float: left;
	}

		.sm-nav img {
			width: 55px;
			margin-right: 11px;
		}

		.sm-nav li:last-of-type img {
			margin-right: 0;
		}

		.sm-nav li:hover img {
			transition: 0.3s;
			transform: rotate(360deg);
		}

footer {
	padding: 60px 0 0 0;
	text-align: center;
	border-top: 5px solid #4aaaa5;
	background: #666;
}

	footer p {
		color: #fff;
	}

/* Sticky Footer */
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.push {
	height: 155px; /* '.push' must be the same height as 'footer' */
}

footer {
	height: 95px; /* '.push' must be the same height as 'footer' */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/


/* Media Queries */

@media screen and (max-width: 980px) {
	
	header {
		padding: 0;
	}

	.container {
		width: 80%;
	}

	section {
		width: 60%;
		margin: 0 5% 0 0;
		padding: 20px 2.5% 30px 2.5%;
	}

	section .ppic {
		width: 100%;
		padding: 0 0 1em 0;
	}

	.p-gallery li {
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}

	.p-gallery li:nth-of-type(odd) {
		margin-right: 6%;
	}

	aside {
		width: 24%;
		padding: 20px 2.5%;
	}

		.sm-nav li {
			width: 30%;
			margin-right: 5%;
		}

		.sm-nav li:last-of-type {
			margin-right: 0;
		}

			.sm-nav img {
				max-width: 100%;
				margin-right: 0;
			}

}

@media screen and (max-width: 768px) {

	.container {
		width: 90%;
	}
	
	section {
		width: 90%;
		margin: 0 0 30px 0;
		padding: 20px 5% 30px 5%;
	}

		section .ppic {
			float: left;
			width: 50%;
			padding: 0 1em 1em 0;
		}

		.p-gallery li {
			float: left;
			width: 47%;
			margin-bottom: 30px;
		}

	.p-gallery li:nth-of-type(odd) {
		margin-right: 6%;
	}

	aside {
		width: 90%;
		padding: 20px 5%;
	}

		.sm-nav {
			width: 30%;
		}

}

@media screen and (max-width: 640px) {

	.container {
		width: 100%;
	}

	header {
		position: static;
	}

		header .logo {
			float: none;
			width: 90%;
			padding: 0.75em 5%;
			margin: 0;
			color: #fff;
			text-align: center;
			background: #4aaaa5;
		}

		nav {
			float: none;
			position: static;
			padding: 0 0 1.75em 0;
			background: #fff;
		}

			.main-nav li {
				float: left;
				width: 23.3%;
				margin: 0em;
				padding: 1.5em 5%;
				text-align: center;
			}

		section {
			width: 80%;
			margin: 0 5% 30px 5%;
			padding: 20px 5% 30px 5%;
		}

			section .ppic {
				width: 100%;
				padding: 0 0 1em 0;
			}

			.p-gallery li {
				float: none;
				width: 100%;
				margin-bottom: 30px;
			}

			.p-gallery li:nth-of-type(odd) {
				margin-right: 6%;
			}

				.p-gallery img {
					width: 100%;
				}

		aside {
			width: 80%;
			margin: 0 5%;
			padding: 20px 5%;
		}
	
}